.main{
    background-color: #ffffff;
    width: 80%;
    overflow:hidden;
}
body{
    background-color: #f3f3f3;
}
.base-center{
    width: 63%;
    overflow: hidden;
    margin: 0 auto;
}
.left{
    width: 15%;
    overflow: hidden;
}