.main{
    background-color: #ffffff;
    width: 700px;
    overflow:hidden;
}
body{
    background-color: #f3f3f3;
}
.base-center{
    width: 960px;
    overflow: hidden;
    margin: 0 auto;
}
.left{
    width: 200px;
    overflow: hidden;
}