{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="" alt="" style="height: 200px; width: 100%; display: block;">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p><a href="#" class="btn btn-primary" role="button">购买</a>
                        <a href="#" class="btn btn-default" role="button">加入购物车</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="" alt="" style="height: 200px; width: 100%; display: block;">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p><a href="#" class="btn btn-primary" role="button">购买</a>
                        <a href="#" class="btn btn-default" role="button">加入购物车</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="" alt="" style="height: 200px; width: 100%; display: block;">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p><a href="#" class="btn btn-primary" role="button">购买</a>
                        <a href="#" class="btn btn-default" role="button">加入购物车</a></p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}