{% extends 'base.html' %}
{% import '_macros.html' as macros %}
{% block title %}首页{% endblock %}

{% block main %}
    {% for classify in paginate.items %}
        {% if classify.books|length > 0 %}
            <div class="row">
                {% for book in classify.books[0:8] %}
                    {% if loop.first %}
                        <h2 style="margin-left: 20px">{{ classify.name }}</h2>
                    {% endif %}
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail show_modal">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#modal-comment-book"
                               data-url="{{ url_for('book_detail_customer',book_id=book.id) }}"
                               class="thumbnail">
                                <img src="{{ url_for('static', filename='image/icon.png') }}" alt=""
                                     style="height: 200px; width: 100%;">
                            </a>
                            <div class="caption">
                                <h3>{{ book.name }}</h3>
                                <p><a href="#" class="btn btn-primary" role="button">购买</a>
                                    <a href="{{ url_for('add_to_cart') }}?book_id={{ book.id }}" class="btn btn-default" role="button">加入购物车</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
    {% if paginate.items %}
        {{ macros.pagination_widget_href_get(paginate,request.path) }}
    {% endif %}
{% endblock %}
