{% extends 'base.html' %}

{% block title %}
    登录
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login_register.css') }}">
{% endblock %}

{% block main %}
    <h3 class="login-title">图书商城</h3>
    <div class="container login-container">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="用户名">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="密码">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">登录</button>
            </div>
        </form>
    </div>
{% endblock %}