<div class="modal-dialog pay_dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">订单支付</h4>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>订单号</dt>
                <dd>{{ order.id }}</dd>
                <dt>收货人</dt>
                <dd>{{ order.name }}</dd>
                <dt>联系电话</dt>
                <dd>{{ order.phone }}</dd>
                <dt>收货地址</dt>
                <dd>{{ order.address }}</dd>
                <dt>价格</dt>
                <dd>{{ order.payment_amount }}</dd>
                <dt>订单状态</dt>
                <dd>{{ order.state }}</dd>
                <dt>订单创建时间</dt>
                <dd>{{ order.create_time }}</dd>
            </dl>
        </div>
        <div class="modal-footer">
            <form id="pay_form" action="{{ url_for('pay') }}" method="post">
                <input type="hidden" name="order_id" value="{{ order.id }}">
                <input id="inp_submit" type="submit" class="btn btn-success" value="支付" data-dismiss="modal"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </form>
        </div>
    </div>
</div>